---
import Section from "../Section.astro"
import i18next, { t } from "i18next";
import { basics } from "@cvEn"
const { summary } = basics
---

<Section>
  <h3 class="divider">{t("site.about")}</h3>
  <p>
    {summary}
  </p>
</Section>