---
import Section from "../Section.astro"
import HTML from "@/icons/html.astro"
import CSS from "@/icons/css.astro"
import JavaScript from "@/icons/javascript.astro"
import TypeScript from "@/icons/type.astro"
import React from "@/icons/react.astro"
import Node from "@/icons/node.astro"
import SQL from "@/icons/sql.astro"
import Git from "@/icons/git.astro"
import GitHub from "@/icons/GitHub.astro"
import Tailwind from "@/icons/tailwind.astro"
import Next from "@/icons/next.astro"
import Azure from "@/icons/Azure.astro"
import Dotnet from "@/icons/net.astro"
import PHP from "@/icons/PHP.astro"
import WordPress from "@/icons/WorldMap.astro"
import Kotlin from "@/icons/kotlin.astro"
import { skills } from "@cvEn"
import i18next, { t } from "i18next"
import X from "@/icons/X.astro"


const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  SQL,
  Git,
  GitHub,
  Next,
  Tailwind,
  Dotnet,
  PHP,
  WordPress,
  Kotlin,
  Azure,
}
---

<Section>
  <h3 class="divider">{t("site.skills")}</h3>
  <ul>
    <h4>Front end development: </h4>
      {
        skills.map(({ name,keywords }) => {
            const frontend = keywords.find((element) => element == "Frontend")
            if(frontend){
              const iconName = name === "Next.js" ? "Next" : name
              const Icon = SKILLS_ICONS[iconName]

              return (
                <li>
                  {Icon && <Icon />} <span>{name}</span>
                </li>
              )
            }
        })
      }
  </ul>
  <ul>
    <h4>Back end development: </h4>
    {
      skills.map(({ name,keywords }) => {
          const frontend = keywords.find((element) => element == "Backend")
          if(frontend){
            const iconName = name === "Next.js" ? "Next" : name
            const Icon = SKILLS_ICONS[iconName]

            return (
              <li>
                {Icon && <Icon />} <span>{name}</span>
              </li>
            )
          }
      })
    }
  </ul>
  <ul>
    <h4>Miscelaneo: </h4>
    {
      skills.map(({ name,keywords }) => {
          const frontend = keywords.find((element) => element == "Colaboración" || element == "Cloud")
          if(frontend){
            const iconName = name === "Next.js" ? "Next" : name
            const Icon = SKILLS_ICONS[iconName]

            return (
              <li>
                {Icon && <Icon />} <span>{name}</span>
              </li>
            )
          }
      })
    }
  </ul>
  <br>
  <ul>
    <h4>Soft skills: </h4>
    <li>{t("site.skills1")}</li>
    <li>{t("site.skills2")}</li>
    <li>{t("site.skills3")}</li>
    <li>{t("site.skills4")}</li>
    <li>{t("site.skills5")}</li>
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 3px;
  }

  ul h4{
    margin: 0;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>