---
import Layout from "../layouts/Layout.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import i18next, { t, changeLanguage } from "i18next";
import { LanguageSelector } from "astro-i18next/components";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import { basics } from "@cv";

changeLanguage("es");

const { name, label } = basics;
---

<Layout title={`Curriculum vitae de ${name} - ${label}`}>
	<main>
		<Hero />		
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />		
	</main>

	<KeyboardManager />
</Layout>

<style>
	main{
		padding: 2rem 5rem 5rem 5rem;
		margin: auto;
		width: 100%;
	}
</style>
